body{
    background-color: #ff5c48;
}
.app{
    background-image:url("../resources/images/backgroundImage.gif");
    background-size: 1920px 1080px;
    background-repeat: no-repeat;
    background-position: top;
    margin-top:0px;
    margin-right:0px;
    margin-bottom:0px;
    margin-left:0px;
    margin: 0 auto;
    width:1920px;
    height: 1180px;
    position: relative;

}
.app .otherStyle{
    background-image: url("../resources/images/popBackImage.png");
    width: 610px;
    height: 235px;
    position: absolute;
    background-color: #676767;
    margin: 448px 200px 0px 210px;
    border-radius: 10px;
}
.app .otherStyle .otherContentStyle{
    width: 100%;
    height: 60px;
    margin-top: 80px;
    text-align: center;
    color: #FF9121;
    font-size: 40px;
}
.app .otherStyle .otherHideStyle{
    background-image: url("../resources/images/popHideButton.png");
    background-repeat: no-repeat;
    width: 120px;
    height: 40px;
    border: 0px;
    background-color: transparent;
    position: absolute;
    margin-left: 560px;
    margin-top: -136px;
}
.app .otherStyle .otherStopStyle{
    background-image: url("../resources/images/popStopButton.png");
    background-repeat: no-repeat;
    width: 240px;
    height: 70px;
    background-color: transparent;
    margin-left: 200px;
    text-align: center;
    font-size: 25px;
    border: 0px;
}
.app .prizeNumStyle{
    color: #f8515a;
    font-size: 70px;
    margin: 526px 0px 0px 200px;
    text-align: center;
    width: 627px;
    font-weight: bold;
    position: absolute;
}
.app .prizeNameStyle{
    color: #543c3b;
    font-size: 40px;
    margin: 600px 0px 0px 200px;
    text-align: center;
    font-weight: bold;
    width: 627px;
    position: absolute;
}
.app .specialBtnStyle{
    display: inline-block;
    border-radius: 10px;
    background-color: transparent;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 14px;
    padding: 10px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    margin-left: 10px;
    position: absolute;
}
.app .specialBtnStyle span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.app .specialBtnStyle span:after {
    content: '»';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.app .specialBtnStyle:hover span {
    padding-right: 25px;
}

.app .specialBtnStyle:hover span:after {
    opacity: 1;
    right: 0;
}

.app .startStyle{
    background-image: url("../resources/images/buttonStart.png");
    width: 385px;
    height: 234px;
    margin-top: 770px;
    background-repeat: no-repeat;
    background-color: transparent;
    border: 0px;
    display: inline-block;
    position: absolute;
    margin-left: 404px;
}
.app .startUnableStyle{
    background-image: url("../resources/images/buttonUnable.png");
    width: 385px;
    height: 234px;
    margin-top: 770px;
    background-repeat: no-repeat;
    background-color: transparent;
    border: 0px;
    display: inline-block;
    position: absolute;
    margin-left: 404px;
}
.app .startStyle:hover {

}

.app .startStyle:active {
    background-image: url("../resources/images/buttonPress.png");
    width: 385px;
    height: 234px;
    margin-top: 800px;
    background-repeat: no-repeat;
    background-color: transparent;
    border: 0px;
    display: inline-block;
    position: absolute;
    margin-left: 404px;
}
/*.app .musicStyle{*/
    /*background-image: url("../resources/images/musicStart.png");*/
    /*width: 95px;*/
    /*height: 130px;*/
    /*margin-top: 200px;*/
    /*margin-left: 200px;*/
    /*background-repeat: no-repeat;*/
    /*background-color: transparent;*/
    /*border: 0px;*/
    /*display: inline-block;*/
    /*position: absolute;*/
    /*margin-left: 712px;*/
/*}*/
/*.app .musicStyle:hover {*/

/*}*/

/*.app .musicStyle:active {*/

    /*background-image:  url("../resources/images/musicPress.png");*/
    /*margin-top: 210px;*/
/*}*/

.app .tabStyle{
    margin: 80.5px 100px 0 976px;
    height: 100px;
    background-color: transparent;
    position: absolute;
    width: 834px;
}
.app .tabStyle .selectStyle{
    background-color: #e5f6fe;
    color: #737b7e;
    font-size: 28px;
    margin: 0px 1px 0px 1px;
    padding: 0px;
    height: 100px;
    width: 16.3%;
    border-radius: 1px;
    border-color: transparent;

}
.app .tabStyle .selectStyle:active{
    background-color:#02d4ff;
    color: #FFFFFF;
}

.app .tabStyle .selectBtnStyle{
    background-color: #02d4ff;
    color: #FFFFFF;
    font-size: 28px;
    margin: 0px 1px 0px 1px;
    padding: 0px;
    height: 100px;
    width: 16.3%;
    border-radius: 5px;
    border-color: transparent;
}
.app .prizeContentStyle{
    background-color: transparent;
    width: 830px;
    height: 870px;
    position: absolute;
    margin: 210px 0px 0px 975px;
}
.app .prizeContentStyle .listImagStyle{
    width: 700px;
    height: 700px;
    margin: 0 auto;
    margin-top: 80px;
}
.app .prizeContentStyle  .listStyle{
    height: 100%;
    width: 100%;
    margin-top: 0px;
    padding: 0px;
    background-color: transparent;
}
.app .prizeContentStyle .listStyle .imageNameStyle{
    font-size: 42px;
    color: #ffeba2;
    position: absolute;
    margin-top: 44px;
    text-align: center;
    width: 830px;
    font-weight: bolder;

}

.app .prizeContentStyle #wicket .tableStyle{
    width: 100%;
    height: 100%;
    background-color: transparent;
}
.app .prizeContentStyle #wicket .tableStyle .subTableStyle{
    width: 80%;
    margin: 0px 30px;
}
.app .prizeContentStyle #wicket .tableStyle .subTableStyle .tableLowStyle{
    width: 400px;
    height: 60px;
    border-bottom: 1px solid;
    border-color: #7f7b69;
}
.app .prizeContentStyle #wicket .tableStyle .subTableStyle .tableLowStyle .workNameStyle{
    color: #ffeca0;
    font-size: 24px;
    width: 40%;
    text-align: center;
    padding-top: 18px;
    padding-bottom: 18px;
    font-weight: bold;
}
.app .prizeContentStyle #wicket .tableStyle .subTableStyle .tableLowStyle .workNumStyle{
    color: #FFFFFF;
    font-size: 24px;
    width: 60%;
    text-align: center;
    padding-top: 18px;
    padding-bottom: 18px;
    font-weight: bold;
}
#wicket{
    overflow: hidden;
    height: 660px;
    background-color: transparent;
    position: absolute;
    width: 830px;
    margin-top: 50px;
}



